.listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    gap: 10px;
}

.listing li {
    border: 2px solid orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.listing li h2 {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
}

.listing .cta {
    margin-top: auto;
    border-top: 2px solid orange;
    padding: 10px;
    text-align: center;
}

.listing .cta a {
    text-decoration: none;
    color: orange;
    font-size: 30px;
}

.listing .body {
    padding: 10px;
}

header {
    border: 2px solid orange;
    border-radius: 5px;
    height: 70px;
}

.left-sidebar {

}

.right-sidebar {
    
}